.containerSection4 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10vh;
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 50px 5px;
    place-items: center;
}

.service {
    display: flex;
    padding: 10px 50px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.service img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service h3 {
	font-size: calc(var(--unitFontSize) * 1.5);
    color: var(--blue);
}

.service span {
	font-size: calc(var(--unitFontSize) * 1);
    color: var(--black1);
    text-align: center;
}

.service button {
	width: fit-content;
	background-color: var(--gray3);
	border-radius: 5px;
	padding: 10px 20px;

	color: var(--white1);
	font-size: calc(var(--unitFontSize) * 1);
}

.serviceTitle {
    font-family: var(--themeFontFamily1);
    font-weight: 300;
    font-style: normal;
}

.serviceDescription {
    font-family: var(--themeFontFamily2);
    font-weight: 100;
    font-style: normal;
}

/* tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .gridContainer {
		width: clamp(768px, 90%, 1200px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .service {
        padding: 10px 20px;
    }

    .serviceTitle {
        font-size: 1.2rem;
    }

    .serviceDescription {
        font-size: 0.8rem;
    }
}

/* desktops */
@media screen and (min-width: 1025px) {
    .gridContainer {
		width: clamp(768px, 90%, 1200px);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .service {
        padding: 10px 10px;
    }

    .serviceTitle {
        font-size: 1.1rem;
    }

    .serviceDescription {
        font-size: 0.7rem;
    }
}
