.containerSection5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.titlePlans {
	font-size: calc(var(--unitFontSize) * 3.5);
	line-height: 1;
	color: var(--blue);
}

.plansGridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.cardPlan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.planHeader {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    overflow: hidden;
	gap: 10px;
}

.cardPlan:nth-child(1) .planHeader {
    background-color: var(--gray3);
}

.cardPlan:nth-child(2) .planHeader {
    background-color: var(--blue);
}

.cardPlan:nth-child(3) .planHeader {
    background-color: var(--gray3);
}

.planHeaderSale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    top: 15px;
    right: -125px;
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--blackSoft);
	padding-block: 5px;
}

.planHeaderSaleText {
    font-family: var(--themeFontFamily2);
    font-size: calc(var(--unitFontSize) * 0.8);
    color: var(--white1);
}

.planHeaderType {
    margin-top: 30px;
    font-family: var(--themeFontFamily2);
    font-size: calc(var(--unitFontSize) * 1);
    color: var(--white1);
}

.planHeaderDescription {
    font-family: var(--themeFontFamily1);
    font-size: calc(var(--unitFontSize) * 1.5);
    color: var(--white1);
}

.planBody {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px;
    gap: 10px;
    border: 1px solid var(--gray2);
}

.planBodyPrice {
    font-family: var(--themeFontFamily2);
    font-size: calc(var(--unitFontSize) * 4);
    color: var(--gray3);
}

.planBodyPerMonth {
    font-family: var(--themeFontFamily2);
    font-size: calc(var(--unitFontSize) * 1.5);
    color: var(--gray3);
}

.planBodyBookNow {
	width: fit-content;
	background-color: var(--gray3);
	border-radius: 5px;
	padding: 10px 20px;

	margin-top: 40px;
	color: var(--white1);
	font-size: calc(var(--unitFontSize) * 1);
}

.cardPlan:nth-child(1) .planBodyBookNow {
    background-color: var(--gray3);
}

.cardPlan:nth-child(2) .planBodyBookNow {
    background-color: var(--blue);
}

.cardPlan:nth-child(3) .planBodyBookNow {
    background-color: var(--gray3);
}

/* tablets */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .containerSection5 {
        padding: 35px 20px;
    }

    .plansGridContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .cardPlan {
        padding: 0;
    }

    .planHeader {
        padding: 20px;
    }

    .planHeaderSale {
        width: 200px;
        right: -75px;
    }

    .planBody {
        padding: 20px;
    }
}

/* desktops */
@media screen and (min-width: 1025px) {
    .containerSection5 {
        padding: 75px 0;
    }

    .plansGridContainer {
        width: clamp(768px, 90%, 1200px);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .cardPlan {
        padding: 0;
    }

    .planHeader {
        padding: 20px 50px;
    }

    .planHeaderSale {
        width: 300px;
        right: -125px;
    }

    .planBody {
        padding: 20px 50px;
    }
}