@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Darker+Grotesque:wght@300..900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;

	font-size: 100%;
	font: inherit;
	text-decoration: none;
	vertical-align: baseline;

	box-sizing: border-box;
	line-height: normal;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
}


:root {
	--unitFontSize: 1.1rem;

	--gray1: #929696;
	--gray2: #C3C3C5;
	--gray3: #474E4F;

	--white1: #FEFEFE;
	--whiteSoft: rgba(254, 254, 254, 0.6);

	--blue: #6087A0;

	--black1: #191919;
	--blackSoft: rgba(25, 25, 25, 0.6);

	--themeFontFamily1: "Alegreya Sans SC", sans-serif;
	--themeFontFamily2: "Darker Grotesque", sans-serif;
}

span, strong, a, button, p, h1, h2, h3, h4, h5, h6 {
	font-family: var(--themeFontFamily2);
	line-height: 1;
}

/* tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
	:root {
		--unitFontSize: 1.05rem;
	}
}

/* mobiles */
@media screen and (max-width: 768px) {
	:root {
		--unitFontSize: 0.95rem;
	}
}
